{% extends "timetable/layout.html" %}

{% block body %}
<div style="display: flex; width: 100%; height: 100vh; justify-content: space-evenly; align-items: center; box-sizing: border-box;">
    <div style="width: 100%; height: 100vh; box-sizing: border-box;">
        <div style="width: 100%; height: 50%; border: solid 1px; border-radius:5px; padding: 5px;">
            <div>
                <strong>Question</strong>
            </div>
            <div>
                {{question_info.question}}
            </div>

            &nbsp;

            <div>
                <strong>Choices</strong>
            </div>
            <ul>
                {% for option in question_info.answers %}
                    <li> {{ option }}</li>
                {% endfor %}
            </ul>

        </div>

        <div style="width: 100%; height: 25%; border: solid 1px; border-radius:5px; padding: 5px;">
            <div>
                <strong>User Input</strong>
            </div>
            <div>
                <form action="{% url 'timetable:respond' scam_type=scam_type %}" method="post">
                    {% csrf_token %}
                    <div>
                        <input id="user_input" name = "user_input" type="text" placeholder="Type here..." style="width: 100%; height: 4em; margin-bottom: 5px;">
                        <input type="hidden" id="js_variable_1" name="js_variable_1" value="{{ scam_info }}">
                        <input type="hidden" id="js_variable_2" name="js_variable_2" value="{{ scenario_info }}">
                        <input type="hidden" id="js_variable_3" name="js_variable_3" value="{{ question_info }}">
                    </div>
                    <div style = "display: flex; justify-content: center;">
                        {% if respond_info.answer == "" %}
                            <input type="submit" value="Enter">
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>

        {% if respond_info.answer != "" %}
            <div style="width: 100%; height: 25%; border: solid 1px; border-radius: 5px; padding: 5px;">
                <div>
                    <strong>Response</strong>
                </div>
                <div>
                    <div style="margin: 10px 5px;">
                        {{ respond_info.answer }}
                    </div>
                    <div style = "display: flex; justify-content: center;">
                        <a href="{% url 'timetable:bot' scam_type=scam_type %}">
                            <button>
                                Next
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div style="width: 100%; height: 100vh; box-sizing: border-box;">
        <div style="width: 100%; height: 50%; border: solid 1px; border-radius: 5px; padding: 5px; overflow: auto;">
            <div style="position: sticky; background-color: white; top: 0px;">
                <strong>Scenario</strong>
            </div>
            {% for msg in scenario_info %}
                {% if forloop.counter|divisibleby:2 %}
                    <div style="background-color: lightblue; padding: 5px; border-radius: 5px; width: 35%; margin-right: auto;">
                {% else %}
                    <div style="background-color: lightgreen; padding: 5px; border-radius: 5px; width: 35%; margin-left: auto;">
                {% endif %}
                    <strong>{{ msg.name }}</strong> {{ msg.content }}
                </div>
            {% endfor %}
        </div>

        <div style="width: 100%; height: 50%; border: solid 1px; border-radius: 5px; padding: 5px; overflow: auto;">
            <div style="position: sticky; background-color: white; top: 0px;">
                <strong>Background of Scam</strong>
            </div>
            <div>
                {{ scam_info.info|linebreaksbr }}
            </div>
        </div>

    </div>
</div>
{% endblock %}