{% extends "timetable/layout.html" %}

{% block body %}
<div>
    <div>
        <a href="{% url 'timetable:bot' scam_type='impersonation' %}"> Impersonating Scam </a>
    </div>
    <div>
        <a href="{% url 'timetable:bot' scam_type='phishing' %}"> Phishing Scam </a>
    </div>
    <div>
        <a href="{% url 'timetable:bot' scam_type='job' %}"> Job Scam </a>
    </div>
    <div>
        <a href="{% url 'timetable:bot' scam_type='loan' %}"> Loan Scam </a>
    </div>
    <div>
        <a href="{% url 'timetable:bot' scam_type='investment' %}"> Investment Scam </a>
    </div>
    <div>
        <a href="{% url 'timetable:bot' scam_type='online_purchase' %}"> Online Purchase Scam </a>
    </div>
</div>

{% endblock %}